@import "tailwindcss";

:root {
  --blue-800: #2b6f71;
  --blue-600: #378a8d;
  --blue-100: #cffcf9;
  --blue-50: #edf3f3;

  --font-abel: var(--font-abel);
}

body {
  background-color: var(--blue-50);
}
